body {
    margin: 0;
    padding: 0;
}

.galleryCon {

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.gallerySubCon {
    width: 80%;
    height: 80vh;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.card {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border: 3px solid whitesmoke;
    border-radius: 10px; */

    img {
        width: 100%;
        height: 100%;
    }

    .cardContent {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        border-radius: 10px;
    }
}